@imgPath: '../img';

@import "_css-reset.less";
@import "_fonts.less";

@sidePadding: 3%;

@screenMiniMax: 500px;
@screenSmallMax: 850px;
@screenMediumMin: 851px;
@screenMediumMax: 1169px;
@screenBigMin: 1170px;
@screenBigMax: 1499px;
@screenLargeMin: 1500px;

html {
	font-size: 10px;
}
@media (min-width: @screenMediumMin) and (max-width: @screenMediumMax) {
	html {
		font-size: 12px;
	}
}
@media (min-width: @screenBigMin) {
	html {
		font-size: 14px;
	}
}

body {
	font-family: 'fira';
	padding-top: 115px;
}

.header {
	width: 100%;
	box-sizing: border-box;
	top: 0;
	position: fixed;
	background: #323232;
	height: 115px;
	text-align: center;
	padding: 0 @sidePadding;
	z-index: 25;
	box-shadow: 0px 0px 10px #000;
	
	&.sticky {
		box-shadow: 0px 0px 10px #000;
	}
	.header__logo {
		position: absolute;
		left: @sidePadding;
		width: 62px;
		height: 100%;
		top: 0;
		display: block;
		line-height: 135px;
		cursor: pointer;
		
		.header__logo-img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.header__center {
		width: 100%;
		line-height: 115px;
		
		.header__center-item {
			color: #FFF;
			text-decoration: none;
			cursor: pointer;
			padding: 0 12px;
			font-size: 1.286rem;

			&.selected {
				color: #FF2746;
			}
		}
	}

	.header__phone {
		position: absolute;
		right: @sidePadding;
		top: 0;
		text-decoration: none;
		color: #FFF;
		line-height: 115px;
		cursor: pointer;
		font-weight: bold;
		font-size: 1.286rem;
	}
}

.block {
	&.block--grey {
		height: 490px;
		box-sizing: border-box;
		margin: 0 auto;
		background: #323232;
		padding-top: 75px;
		background: url(~'@{imgPath}/home-top-block.png');
		
		.bold-text {
			width: 90%;
			margin: 0 auto;
			text-align: center;
			color: #FFF;
			font-size: 2.571rem;
			font-weight: bold;
		}
		.regular-text {
			width: 90%;
			margin: 0 auto;
			margin-top: 25px;
			text-align: center;
			color: #FFF;
			font-size: 1.714rem;
			font-weight: normal;
		}
	}
	&.block--full-size {
		width: 100%;
	}
}
@media (min-width: @screenBigMin) {
	.block {
		&.block--grey {
			.bold-text {
				width: 980px;
			}
			.regular-text {
				width: 980px;
			}
		}
	}
}

.vertical-middle {
	display: table-cell;
	vertical-align: middle;
}
.vertical-top {
	display: table-cell;
	vertical-align: top;
}

.block-table {
	display: inline-table;
	vertical-align: top;
}
.table-tr {
	display: table-row;
}
.table-td {
	display: table-cell;
}

.line-2 {
	width: 100%;
}
@media (min-width: @screenLargeMin) {
	.line-2 {
		height: 707px;
	}
}

.block-2 {
	height: 100%;
	width: 100%;
	
	.block-2-1 {
		width: 100%;
		height: 382px;
		background: #008182;
		color: #fff;
		box-sizing: border-box;
		padding: 0 14%;
		
		.title {
			font-size: 1.714rem;
			font-weight: bold;
		}
		.text {
			font-size: 1.143rem;
			margin-top: 20px;
		}
		.btn {
			border: 1px solid #fff;
			border-radius: 20px;
			width: 220px;
			padding: 7px 0;
			margin-top: 35px;
			box-sizing: border-box;
			font-size: 1.143rem;
			text-align: center;
			cursor: pointer;
		}
	}
	.block-2-2 {
		height: 225px;
		width: 100%;
		box-sizing: border-box;
		border-right: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		color: #383838;
		padding: 0 51px;
		padding-top: 40px;

		.title {
			font-size: 1.714rem;
			font-weight: bold;
			text-align: left;
		}
		.text {
			font-size: 1rem;
			margin-top: 18px;
			line-height: 1.75rem;
		}
	}
	.block-2-3 {
		height: 225px;
		width: 100%;
		color: #383838;
		box-sizing: border-box;
		border-right: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding: 0 41px;
		padding-top: 40px;

		.title {
			font-size: 1.714rem;
			font-weight: bold;
			text-align: left;
		}
		.text {
			font-size: 1rem;
			margin-top: 18px;
			line-height: 1.75rem;
		}
	}
}
@media (min-width: @screenMediumMin) {
	.block-2 {
		.block-2-2 {
			width: 50%;
		}
		.block-2-3 {
			width: 50%;
		}
	}
}
@media (min-width: @screenLargeMin) {
	.block-2 {
		width: 40%;
		
		.block-2-2 {
			height: 325px;
			border-bottom: none;
		}
		.block-2-3 {
			height: 325px;
			border-bottom: none;
		}
	}
}

.block-3 {
	width: 100%;
	height: 707px;
	background: #FFF;
	
	.block-3-1 {
		width: 100%;
		box-sizing: border-box;
		border-right: 1px solid #e1e1e1;
		padding: 87px 40px 0 40px;
		
		.title {
			font-size: 1.714rem;
			font-weight: bold;
			color: #383838;
		}
		.text {
			margin-top: 18px;
			line-height: 1.75rem;
		}
		.list {
			margin-top: -9px;
			padding-left: 24px;
			
			li {
				font-size: 1rem;
				font-weight: bold;
				margin: 26px 0;
			}
		}
	}
	.block-3-2 {
		width: 100%;
		padding: 87px 40px 0 40px;
		box-sizing: border-box;
		
		.title {
			font-size: 1.714rem;
			font-weight: bold;
			color: #383838;
		}
		.text {
			margin-top: 18px;
			line-height: 1.75rem;
		}
		.horizontal-list {
			margin-top: 16px;
			
			li {
				display: inline-block;
				width: 32%;
				margin-bottom: 26px;
				font-weight: bold;
			}
		}
		.img-list {
			.title {
				font-size: 1rem;
				color: #383838;
				font-weight: normal;
				margin-bottom: 19px;
			}
			.img {
				display: inline-block;
				vertical-align: top;
				width: 32%;
				
				img {
					max-width: 100%;
				}
			}
		}
	}
}
@media (min-width: @screenMediumMin) {
	.block-3 {
		
		.block-3-1 {
			width: 33%;
			height: 707px;
		}
		.block-3-2 {
			width: 67%;
			height: 707px;
			
			.text {
				padding-right: 98px;
			}
		}
	}
}
@media (min-width: @screenLargeMin) {
	.block-3 {
		width: 60%;
	}
}

.block-4 {
	height: 325px;
	width: 40%;
	box-sizing: border-box;
}

.line-3 {
	border-top: 1px solid #e1e1e1;
}

.block-5 {
	width: 100%;
	height: 260px;
	padding: 0 20px 21px 50px;
	box-sizing: border-box;

	.title {
		color: #383838;
		font-size: 2.143rem;
		font-weight: bold;
	}
	.text {
		color: #383838;
		font-size: 1.143rem;
		margin-top: 10px;
	}
}
@media (min-width: @screenBigMin) and (max-width: @screenBigMax) {
	.block-5 {
		width: 40%;
	}
}
@media (min-width: @screenLargeMin) {
	.block-5 {
		width: 40%;
	}
}

.block-6 {
	height: 260px;
	width: 100%;
	padding: 2.5%;
	box-sizing: border-box;
	border: 5px solid #ffd300;
}
@media (min-width: @screenBigMin) and (max-width: @screenBigMax) {
	.block-6 {
		width: 60%;
	}
}
@media (min-width: @screenLargeMin) {
	.block-6 {
		width: 60%;
	}
}

.line-4 {
	
}
.block-7 {
	width: 60%;
	
	.block-7-1 {
		width: 67%;
		height: 382px;
		background: #FF8B4D;
		box-sizing: border-box;
		padding: 0 2.5%;
		box-sizing: border-box;
		
		.title {
			font-size: 1.714rem;
			font-weight: bold;
			color: #FFF;
		}
		.text {
			margin-top: 35px;
			font-size: 1.143rem;
			font-weight: normal;
			color: #FFF;
		}
		.btn {
			width: 220px;
			display: block;
			margin-top: 35px;
			font-size: 1.143rem;
			font-weight: normal;
			text-align: center;
			padding: 10px 0;
			color: #FFF;
			border: 1px solid #fff;
			border-radius: 20px;
			text-decoration: none;
			cursor: pointer;
		}
	}
	.block-7-2 {
		width: 33%;
		height: 382px;
		box-sizing: border-box;
		background: url(~'@{imgPath}/bork.png');
		
		img {
			max-width: 100%;
		}
	}
	.block-7-3 {
		width: 34%;
		height: 382px;
		box-sizing: border-box;
		background: url(~'@{imgPath}/wear.png');
		
		img {
			max-width: 100%;
		}
	}
	.block-7-4 {
		width: 33%;
		height: 382px;
		box-sizing: border-box;
		background: url(~'@{imgPath}/promsviaz.png');
		
		img {
			max-width: 100%;
		}
	}
	.block-7-5 {
		width: 33%;
		height: 382px;
		box-sizing: border-box;
		background: url(~'@{imgPath}/face.png');
		
		img {
			max-width: 100%;
		}
	}
}
.block-8 {
	height: 764px;
	width: 40%;
	background: url(~'@{imgPath}/pro-medic.png');
	
	img {
		max-width: 100%;
	}
}

.line-5 {
	
}
.block-9 {
	@blogHeight: 188px;
	width: 100%;
	height: @blogHeight;
	background: #FFD300;
	padding: 0 0 0 110px;
	box-sizing: border-box;
	
	.blog-btn {
		display: inline-block;
		vertical-align: top;
		height: 115px;
		font-weight: bold;
		color: #171716;
		font-size: 1.714rem;
		text-decoration: none;
		padding-top: 36px;
		box-sizing: border-box;
	}
	.blog-item {
		display: inline-block;
		vertical-align: top;
		height: 115px;
		width: 300px;
		margin: 0 40px;
		
		&.first-item {
			margin-left: 95px;
		}
		&:last-child {
			margin-right: 0;
		}
		.blog-item__date {
			color: #171716;
			font-size: 1rem;
		}
		.blog-item__title {
			display: block;
			color: #171716;
			font-size: 1.143rem;
			font-weight: bold;
			text-decoration: none;
			margin-top: 22px;
		}
	}
}

.block-10 {
	width: 40%;
	height: 382px;
	background: #5f1e34;
	box-sizing: border-box;
	padding: 2.5%;
	
	.title {
		font-size: 1.714rem;
		font-weight: bold;
		color: #FFF;
	}
	.text {
		color: #FFF;
		font-size: 1.143rem;
		margin-top: 36px;
	}
	.btn {
		width: 220px;
		margin-top: 36px;
		border: 1px solid #fff;
		border-radius: 20px;
		color: #FFF;
		padding: 12px 0;
		text-align: center;
		cursor: pointer;
	}
}
.block-11 {
	width: 100%;
	height: 381px;
	
	.double {
		height: 381px;
		display: inline-block;
		width: 100%;
		background: #5F1E34;
		border-color: #5f1e34;
		box-sizing: border-box;
		
		
		.block-table {
			width: 100%;
			height: 100%;
			padding: 0 14%;
			box-sizing: border-box;
		}
		.title {
			font-size: 1.714rem;
			font-weight: bold;
			color: #FFF;
		}
		.text {
			color: #FFF;
			margin-top: 36px;
		}
		.btn {
			margin-top: 36px;
			color: #FFF;
			border: 1px solid #fff;
			border-radius: 20px;
			padding: 7px 0;
			width: 220px;
			text-align: center;
			cursor: pointer;
		}
	}

	a {
		height: 381px;
		display: inline-block;
		border: 1px solid #e1e1e1;
		box-sizing: border-box;
		width: 50%;
		vertical-align: top;
		text-align: center;
		
		.vertical-middle {
			height: 381px;
		}
		img {
			max-width: 100%;
		}
	}
}
@media (max-width: @screenMiniMax) {
	.block-11 {
		.double {
			width: 100%;
		}
		a {
			width: 100%;
		}
	}
}
@media (min-width: @screenMediumMin) and (max-width: @screenMediumMax) {
	.block-11 {
		.double {
			width: 66.6666%;
		}
		a {
			width: 33.3333%;
		}
	}
}
@media (min-width: @screenBigMin) and (max-width: @screenBigMax) {
	.block-11 {
		.double {
			width: 75%;
		}
		a {
			width: 25%;
		}
	}
}
@media (min-width: @screenLargeMin) {
	.block-11 {
		.double {
			width: 40%;
		}
		a {
			width: 20%;
		}
	}
}

.line-8 {
	position: relative;
}
#map {
	height: 502px;
	width: 100%;
}
.block-13 {
	height: 502px;
	width: 100%;
	z-index: 20;
	background: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #e1e1e1;
	color: #383838;
	
	.address-line {
		margin-top: 70px;
		
		.address-city {
			font-size: 1.714rem;
			font-weight: bold;
			text-align: center;
		}
		.address {
			font-size: 1.142rem;
			font-weight: normal;
			text-align: center;
			margin-top: 17px;
		}
		.contacts {
			margin-top: 43px;
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 64px;
			
			.phone {
				float: left;
				width: 50%;
				text-align: center;
				font-size: 1.143rem;
				font-weight: bold;
				text-decoration: none;
				color: #383838;
			}
			.mail {
				float: right;
				width: 50%;
				text-align: center;
				font-size: 1.143rem;
				font-weight: bold;
				text-decoration: none;
				color: #383838;
			}
		}
	}
	.orders {
		height: 220px;
		
		.order {
			float: left;
			width: 50%;
			height: 100%;
			box-sizing: border-box;
			border-right: 1px solid #e1e1e1;

			.title {
				color: #383838;
				font-size: 1.143rem;
				font-weight: bold;
				text-align: center;
				padding-top: 35px;
				text-transform: uppercase;
			}
			.text {
				margin-top: 13px;
				padding: 0 102px 0 42px;
				line-height: 1.4rem;
			}
			.btn {
				width: 220px;
				padding: 7px 0;
				background: #940c0c;
				text-align: center;
				border-radius: 25px;
				color: #FFF;
				cursor: pointer;
				margin-left: 42px;
				margin-top: 23px;
				font-size: 1.143rem;
			}
		}
		.contact {
			float: right;
			width: 50%;
			height: 100%;
			box-sizing: border-box;

			.title {
				color: #383838;
				font-size: 1.143rem;
				font-weight: bold;
				text-align: center;
				padding-top: 35px;
				text-transform: uppercase;
			}
			.text {
				margin-top: 13px;
				padding: 0 60px 0 40px;
			}
			.btn {
				display: block;
				color: #008182;
				margin-top: 21px;
				text-decoration: underline;
				font-size: 1.143rem;
				font-weight: bold;
				padding-left: 11%;
			}
		}
	}
}
@media (max-width: @screenMiniMax) {
	.block-13 {
		.orders {
			.order {
				width: 100%;
				
				.text {
					text-align: center;
				}
				.btn {
					margin: 23px auto 0;
				}
			}
			.contact {
				width: 100%;
				
				.text {
					text-align: center;
				}
				.btn {
					text-align: center;
					padding-left: 0;
				}
			}
		}
	}
}
@media (min-width: @screenLargeMin) {
	.block-13 {
		width: 40%;
		position: absolute;
		left: 20%;
		top: 0;
	}
}

.footer {
	position: relative;
	padding: 66px 0;
	background: #FFF;
	text-align: center;
	
	.copyright {
		position: absolute;
		left: 2.5%;
		top: 71px;
		font-size: 1rem;
		color: #383838;
	}
	.social {
		a {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: 0 8px;
		}
	}
	.top-btn {
		width: 220px;
		padding: 7px 0;
		position: absolute;
		right: 2.5%;
		top: 59px;
		font-size: 1.143rem;
		border: 1px solid #940c0c;
		border-radius: 20px;
		text-align: center;
		color: #940C0C;
		cursor: pointer;
	}
}

.intro {
	position: relative;
	width: 100%;
	height: 190px;
	background: url(~'@{imgPath}/blog-intro.png');
	text-align: center;
	padding-top: 68px;
	box-sizing: border-box;
	
	.title {
		font-size: 2.571rem;
		color: #FFF;
		text-shadow: 1px 0px 9px #000;
		width: 90%;
		margin: 0 auto;
	}
	@media (min-width: @screenBigMin) {
		.title {
			width: 100%;
		}
	}
}

@import "blog.less";
@import "contacts.less";
@import "company.less";
@import "portfolio.less";
@import "services.less";

.content-width {
	width: 90%;
	margin: 0 auto;
}
@media (min-width: @screenBigMin) {
	.content-width {
		width: 1170px;
	}
}

.tabs {
	width: 100%;
	height: 63px;
	overflow-x: auto;
	background: #323232;

	.tabs__center {
		height: 100%;
		margin: 0 auto;
		text-align: left;
		white-space: nowrap;
	}
	@media (min-width: @screenBigMin) {
		.tabs__center {
			width: 1170px;
		}
	}
	.tabs__tab {
		display: inline-block;
		height: 100%;
		border-bottom: 3px solid #323232;
		box-sizing: border-box;
		font-size: 1rem;
		color: #fff;
		font-weight: bold;
		padding: 20px 10px;
		cursor: pointer;

		&.active {
			color: #fdc87e;
			border-color: #fdc87e;
		}
	}
}
.grey-block {
	background: #f4f4f4;
	padding: 43px 0;
	margin-top: 41px;
	margin-bottom: 44px;
	
	.content-width {
		.title {
			font-weight: normal;
			font-size: 1.714rem;
			color: #383838;
		}
		.list {
			width: 100%;
			margin-top: 18px;
			
			li {
				width: 50%;
				display: inline-block;
				font-weight: bold;
				line-height: 3.5rem;
			}
		}
	}
}

.presentation {
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 5px solid #ffd300;
	color: #383838;
	padding: 32px 55px 0 4.2%;
	
	&:after {
		content: "";
		display: inline-block;
		height: 57px;
		width: 57px;
		position: absolute;
		bottom: -5px;
		right: -5px;
		background: rgba(255,213,0,1);
		background: -moz-linear-gradient(-45deg, rgba(255,213,0,1) 0%, rgba(255,213,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,213,0,1)), color-stop(50%, rgba(255,213,0,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(-45deg, rgba(255,213,0,1) 0%, rgba(255,213,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(255,213,0,1) 0%, rgba(255,213,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(255,213,0,1) 0%, rgba(255,213,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
		background: linear-gradient(135deg, rgba(255,213,0,1) 0%, rgba(255,213,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd500', endColorstr='#ffffff', GradientType=1 );
	}
	.title {
		font-size: 1.714rem;
		font-weight: bold;
	}
	.text {
		font-size: 1.143rem;
		line-height: 2.1rem;
		margin-top: 18px;
	}
	.btn {
		display: block;
		text-decoration: none;
		padding: 7px 0;
		text-align: center;
		color: #E10000;
		border: 1px solid #e10000;
		border-radius: 20px;
		width: 220px;
		cursor: pointer;
		margin-top: 30px;
	}
}
.orders-block {
	.presentation {
		width: 100%;
		height: 382px;
		padding-top: 82px;
	}
	.communications {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 382px;
		box-sizing: border-box;
		background: #4c1d36;
		color: #FFF;
		padding: 87px 40px 0 50px;
		
		.title {
			font-size: 1.714rem;
			font-weight: bold;
		}
		.text {
			font-size: 1rem;
			margin-right: 18px;
			line-height: 1.4rem;
			margin-top: 20px;
		}
		.btn {
			font-size: 1.143rem;
			font-weight: bold;
			margin-top: 30px;
			text-decoration: underline;
		}
	}
	.project {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 382px;
		box-sizing: border-box;
		background: #EE2F52;
		color: #FFF;
		padding: 83px 5% 0 5%;
		
		.title {
			font-size: 2.571rem;
			font-weight: bold;
			text-align: center;
		}
		.text {
			font-size: 1.286rem;
			text-align: center;
			margin-top: 19px;
			padding: 0 7%;
			
			.selected {
				color: #FDC87E;
			}
		}
		.btn {
			display: block;
			text-decoration: none;
			padding: 7px 0;
			text-align: center;
			color: #fff;
			border: 1px solid #fff;
			border-radius: 20px;
			width: 220px;
			cursor: pointer;
			margin: 0 auto;
			margin-top: 45px;
		}
	}
}
@media (min-width: @screenMediumMin) and (max-width: @screenBigMax) {
	.orders-block {
		.presentation {
			width: 50%;
		}
		.communications {
			width: 50%;
		}
	}
}
@media (min-width: @screenLargeMin) {
	.orders-block {
		.presentation {
			width: 40%;
		}
		.communications {
			width: 20%;
		}
		.project {
			width: 40%;
		}
	}
}

.quote {
	border-top: 1px solid #ee2f52;
	border-bottom: 1px solid #ee2f52;
	color: #323232;
	font-size: 1.143rem;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	padding: 23px 12%;
	line-height: 2.1rem;
	margin-bottom: 35px;
	
	&.quote-big {
		color: #ee2f52;
		font-size: 2.143rem;
		font-weight: normal;
		line-height: 3.5rem;
	}
}

.same-project {
	padding: 48px 0 0;
	box-sizing: border-box;
	
	&.red {
		background: #B80D2C;
		
		.btn {
			background: #840018;
		}
	}
	&.purple {
		background: #4c1d36;
		
		.btn {
			background: #34071f;
		}
	}
	&.mini {
		.content-width {
			.btn {
				padding: 45px 89px 43px 87px;
			}
		}
	}
	.content-width {
		position: relative;
		width: 100%;
		
		.title {
			font-weight: bold;
			font-size: 2.143rem;
			font-style: normal;
			color: #FFF;
			text-align: center;
		}
		@media (min-width: @screenMediumMin) {
			.title {
				text-align: left;
			}
		}
		.description {
			font-size: 1.143rem;
			color: #FFF;
			margin-top: -4px;
			text-align: center;
		}
		@media (min-width: @screenMediumMin) {
			.description {
				text-align: left;
			}
		}
		.btn {
			width: 100%;
			display: block;
			font-size: 2.143rem;
			color: #FFF;
			padding: 63px 0 53px 0;
			cursor: pointer;
			text-align: center;
			margin-top: 30px;
			box-sizing: border-box;
		}
		@media (min-width: @screenMediumMin) and (max-width: @screenMediumMax) {
			.btn {
				height: 149px;
				width: auto;
				position: absolute;
				right: 0;
				top: -48px;
				padding: 61px 89px 48px 87px;
				margin-top: 0;
			}
		}
		@media (min-width: @screenBigMin) {
			.btn {
				height: 149px;
				width: auto;
				position: absolute;
				right: 0;
				top: -48px;
				padding: 58px 89px 44px 87px;
				margin-top: 0;
			}
		}
	}
}
@media (min-width: @screenMediumMin) {
	.same-project {
		height: 149px;
		padding-bottom: 40px;
	}
}
@media (min-width: @screenBigMin) {
	.same-project {
		.content-width {
			width: 1170px;
		}
	}
}

.article {
	width: 90%;
	margin: 0 auto;
	padding-top: 81px;
	padding-bottom: 80px;
	
			.title {
		font-size: 1.285rem;
		font-weight: bold;
		margin: 35px 0;
	}
	img {
		max-width: 100%;
	}
	p {
		padding: 17px 0;
	}
	ul {
		margin-bottom: 35px;
		
		li {
			&:before {
				content: "▶";
				display: inline-block;
				color: #FF8B4D;
				margin-right: 16px;
				margin-top: 13px;
				margin-bottom: 13px;
			}
		}
	}
}
@media (min-width: @screenBigMin) {
	.article {
		width: 1170px;
	}
}