@@include('./layout_top.html')
	@@include('./header.html')

	<section class="blog">
		<div class="blog__intro article-intro">
			Руководство-игра: как заказчику демотивировать команду своего же проекта
			<div class="author">
				<div class="date">15 сентября 2016</div>
				<div class="img">
					<img src="/img/blog-avatar.png" alt="">
				</div>
				<div class="name">Кирилл Казакевич, технический директор</div>
			</div>
		</div>

		<div class="blog-article">
			<div class="quote">
				Чтоб сайт стоял и деньги были! 
				Примерно этого хочет любой заказчик своему же проекту — только хорошего. 
				Но иногда творит инферно вот этими вот руками, сам того не желая. 
				В этом добром и поучительном руководстве мы расскажем, как правильно 
				демотивировать команду своего проекта в нулину. Время тактики!
			</div>

			<p>
			Практика показывает, что с каждым годом российские интернет-пользователи предпочитают 
			задавать поисковым системам все более и более многословные запросы. 
			Если верить статистике, короткие высокочастотные ключевики вводят 
			все реже: чаша весов склоняется в сторону более точных среднечастотных 
			и низкочастотных фраз.
			</p>
			<p>
			Это сказалось и на предложениях SEO-компаний — все чаще клиентам предлагают 
			услугу увеличения посещаемости сайта, или, иными словами, продвижение 
			сайта по трафику.
			</p>

			<div class="title">Мы делаем так, чтобы о вашем бизнесе узнали многие.</div>
			<ul>
				<li>Организуем исследования, изучаем конкурентную среду и целевую аудиторию.</li>
				<li>Формулируем реальные и измеримые цели оптимизации для вашего бизнеса.</li>
				<li>Создаем семантическое ядро (список ключевых слов) и разрабатываем стратегию поискового продвижения.</li>
				<li>Работаем над внутренней и внешней оптимизацией сайта.</li>
				<li>Анализируем и отслеживаем результаты по достижению целей и при необходимости, корректируем стратегию.</li>
			</ul>

			<img src="img/blog-article-img.png" alt="">

			<p>
				Практика показывает, что с каждым годом российские интернет-пользователи 
				предпочитают задавать поисковым системам все более и более многословные 
				запросы. Если верить статистике, короткие высокочастотные ключевики вводят 
				все реже: чаша весов склоняется в сторону более точных среднечастотных и низкочастотных фраз.
			</p>
			<p>
				Это сказалось и на предложениях SEO-компаний — все чаще клиентам предлагают 
				услугу увеличения посещаемости сайта, или, иными словами, продвижение 
				сайта по трафику.
			</p>
		</div>

		<div class="blog-tiles">
			<div class="blog-tile color-1">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img">
						<img src="/img/blog-avatar.png" alt="">
					</div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-2">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div>
		</div>
	</section>

	@@include('./footer.html')
@@include('./layout_bottom.html')