@@include('./layout_top.html')
	@@include('./header.html')

	<section class="blog">
		<div class="blog__intro">
			Опыт, успех, размышления
		</div>

		<div class="blog-tiles">
			<div class="blog-tile color-1">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img">
						<img src="/img/blog-avatar.png" alt="">
					</div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-2">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-3">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-4">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-5">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-6">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-7">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-8">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img"></div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div><div class="blog-tile color-9">
				<div class="date">15 сентября 2016</div>
				<div class="title">Руководство-игра: как заказчику демотивировать команду своего же проекта</div>
				<div class="author">
					<div class="img">
						<img src="/img/blog-avatar.png" alt="">
					</div>
					<div class="name">Кирилл Казакевич, технический директор</div>
				</div>
			</div>
		</div>
	</section>

	@@include('./footer.html')
@@include('./layout_bottom.html')