@@include('./layout_top.html')
	@@include('./header.html')

	<section class="company">
		<div class="intro">
			<div class="title">Наше агенство</div>
		</div>
		<div class="tabs">
			<div class="tabs__center">
				<div class="tabs__tab active">Коротко о нас</div>
				<div class="tabs__tab">Люди агентства</div>
				<div class="tabs__tab">Благодарности клиентов</div>
				<div class="tabs__tab">Вакансии</div>
				<div class="tabs__tab">Достижения</div>
			</div>
		</div>

		<div class="content-width">
			<div class="quote">
				Чтоб сайт стоял и деньги были! 
				Примерно этого хочет любой заказчик своему же проекту — только хорошего. 
				Но иногда творит инферно вот этими вот руками, сам того не желая. 
				В этом добром и поучительном руководстве мы расскажем, как правильно 
				демотивировать команду своего проекта в нулину. Время тактики!
			</div>

			<div class="title">Наша основная миссия</div>
			<div class="colored-text">
				Быть надежным партнером, предлагая продукт, 
				основанный на сильной экспертизе и достижении лучших результатов.
			</div>
		</div>

		<div class="grey-block">
			<div class="content-width">
				<div class="title">Какие задачи решаем</div>
				<ul class="list">
					<li>
						Привлечение посетителей из поисковых систем
					</li><li>
						Разработка сайтов
					</li><li>
						Повышение эффективности рекламных кампаний
					</li><li>
						Поддержка и развитие проектов
					</li><li>
						Контент-маркетинг
					</li><li>
						Анализ юзабилити и проектирование интерфейсов
					</li><li>
						Маркетинг в социальных медиа и блогосфере
					</li><li>
						Внедрение корпоративных порталов и CRM
					</li>
				</ul>
			</div>
		</div>

		<div class="content-width">
			<div class="title">Как мы это делаем</div>

			<ol class="num-list">
				<li>
					<span class="list-title">Знаем, в чем сильны, и используем это</span>
					<span class="paragraph">
						Направление поискового маркетинга по-прежнему стержень агентства, 
						которое вместе с другими подразделениями производит качественный 
						продукт. Мы внимательно следим за развитием алгоритмов и сервисов 
						поисковых систем, чтобы эффективно представлять в них интересы клиента.
					</span>
					<span class="paragraph">
						Это находит отражение не только в услуге SEO. При проектировании 
						сайта проводим исследования и формируем структуру, которая будет 
						способствовать увеличению видимости в поисковых системах. А при 
						формировании стратегии и плана работ по digital PR анализируем 
						репутацию бренда в выдаче и сервисах Яндекс и Google.
					</span>
				</li>
				<li>
					<span class="list-title">Постоянно повышаем скилы</span>
					<span class="paragraph">
						Верим, что успех проекта состоит из множества регулярных маленьких 
						достижений. Только слаженная профессиональная команда способна 
						давать результат, который ожидает клиент. Каждый отдел стремится 
						быть экспертом в своей области.
					</span>
					<span class="paragraph">
						Анализируем лучшие практики и делимся знаниями в блоге, в СМИ 
						и на профильных конференциях.
					</span>
					<span class="imgs">
						<span class="img"><img src="img/company/bitrix.png" alt=""></span>
						<span class="img"><img src="img/company/yandex-direct.png" alt=""></span>
						<span class="img"><img src="img/company/google-adwords.png" alt=""></span>
						<span class="img"><img src="img/company/begun.png" alt=""></span>
						<span class="img"><img src="img/company/analytics.png" alt=""></span>
						<span class="img"><img src="img/company/mail-target.png" alt=""></span>
					</span>
					<span class="imgs">
						<span class="img"><img src="img/company/bitrix-comp.png" alt=""></span>
						<span class="img"><img src="img/company/bitrix-cp.png" alt=""></span>
						<span class="img"><img src="img/company/bitrix-24.png" alt=""></span>
						<span class="img"><img src="img/company/bitrix-1c.png" alt=""></span>
					</span>
				</li>
				<li>
					<span class="list-title">За результат в ответе!</span>
					<span class="paragraph">
						Умеем слышать, погружаться в бизнес, становясь частью команды клиента. 
						Измеряем эффективность на всех этапах. Наши клиенты знают, кто, что, 
						как, и главное, зачем делает по проекту.
					</span>
				</li>
			</ol>

			<div class="quote quote-big">
				60% обращений в агентство происходит по рекомендации партнеров
			</div>
		</div>

		<div class="orders-block">
			<div class="presentation">
				<div class="title">Презентация агентства</div>
				<div class="text">
					Мы с умом разрабатываем уникальные проекты, которые решают ваши 
					бизнес-задачи: адаптивные промо-сайты, корпоративные сайты, 
					интернет-магазины и стартапы.
				</div>
				<div class="btn">PDF - 1.5 MB</div>
			</div><div class="communications">
				<div class="title">Мы рады новым связям!</div>
				<div class="text">
					Пишите нам и присылайте своё портфолио. Мы всегда рады новым знакомствам!
				</div>
				<div class="btn">info@si-nitsa.ru</div>
			</div><div class="project">
				<div class="title">Хотите обсудить свой проект?</div>
				<div class="text">
					<span class="selected">Напишите нам</span> и мы с удовольствием обсудим с вами его детали
				</div>
				<div class="btn">Написать</div>
			</div>
		</div>
	</section>

	@@include('./footer.html')
@@include('./layout_bottom.html')