@@include('./layout_top.html')
	@@include('./header.html')

	<section class="company">
		<div class="intro">
			Наше агенство
		</div>

		<div class="content-width">
			<div class="quote">
				Чтоб сайт стоял и деньги были! 
				Примерно этого хочет любой заказчик своему же проекту — только хорошего. 
				Но иногда творит инферно вот этими вот руками, сам того не желая. 
				В этом добром и поучительном руководстве мы расскажем, как правильно 
				демотивировать команду своего проекта в нулину. Время тактики!
			</div>
		</div>
	</section>

	@@include('./footer.html')
@@include('./layout_bottom.html')