@@include('./layout_top.html')
	@@include('./header.html')

	<section class="contacts">
		<div class="intro">
			Контакты
		</div>

		<div class="contact-columns">
			<div class="moscow-column">
				<div class="title">Москва</div>
				<div class="address">127055, г. Москва, Нижний Сусальный переулок, 5 стр. 17</div>
				<div class="phone">тел.: +7 (499) 110-09-82</div>
				<div class="email">e-mail: info@si-nitsa.ru</div>
				<div class="map-btn">Посмотреть на карте</div>
			</div><div class="elektrostal-column">
				<div class="title">Электросталь</div>
				<div class="address">142400, г. Электросталь, ул. Лесная, дом 36</div>
				<div class="phone">тел.: +7 (499) 110-09-82</div>
				<div class="email">e-mail: info@si-nitsa.ru</div>
				<div class="map-btn">Посмотреть на карте</div>
			</div>
		</div>

		<div id="map"></div>

		<div class="orders-block">
			<div class="presentation">
				<div class="title">Презентация агентства</div>
				<div class="text">
					Мы с умом разрабатываем уникальные проекты, которые решают ваши 
					бизнес-задачи: адаптивные промо-сайты, корпоративные сайты, 
					интернет-магазины и стартапы.
				</div>
				<div class="btn">PDF - 1.5 MB</div>
			</div><div class="communications">
				<div class="title">Мы рады новым связям!</div>
				<div class="text">
					Пишите нам и присылайте своё портфолио. Мы всегда рады новым знакомствам!
				</div>
				<div class="btn">info@si-nitsa.ru</div>
			</div><div class="project">
				<div class="title">Хотите обсудить свой проект?</div>
				<div class="text">
					<span class="selected">Напишите нам</span> и мы с удовольствием обсудим с вами его детали
				</div>
				<div class="btn">Написать</div>
			</div>
		</div>
	</section>

	@@include('./footer.html')
@@include('./layout_bottom.html')