@@include('./layout_top.html')
	@@include('./header.html')

	<section class="block block--full-size block--grey">
		<div class="bold-text">Мы концентрируемся на том, что любим и умеем делать лучше всего, за этим к нам и обращаются.</div>
		
		<div class="regular-text">
			Более 15 лет мы создаем сложные и подчас невероятные проекты с различными бизнес-целями,
			поэтому уверенно говорим, что наша экспертиза в этих областях огромна.
		</div>
	</section>

	<div class="line-2">
		<div class="block-2 block-table">
			<div class="block-2-1 block-table">
				<div class="vertical-middle">
					<div class="title">Направление услуг</div>
					<div class="text">
						Мы оказываем полный комплекс услуг для увеличения продаж и обеспечения 
						доминирующего онлайн-присутствия бизнеса своих клиентов.
					</div>
					<div class="btn">Все услуги</div>
				</div>
			</div>
			<div class="block-2-2 block-table">
				<div class="vertical-top">
					<div class="title">Графический дизайн</div>
					<div class="text">
						Мы воплощаем смелые идеи в любой стилистике и создаем 
						дизайн для удобства использования и простоты восприятия информации.
					</div>
				</div>
			</div><div class="block-2-3 block-table">
				<div class="vertical-top">
					<div class="title">Аутсорс-продакшн</div>
					<div class="text">
						Аналитика, исследования, поддержка и оптимизация — мы помогаем 
						нашим клиентам достигать своих самых амбициозных целей!
					</div>
				</div>
			</div>
		</div><div class="block-3 block-table">
			<div class="block-3-1 block-table">
				<div class="title">SEO продвижение</div>
				<div class="text">
					Аналитика, исследования, поддержка и оптимизация — мы помогаем 
					нашим клиентам достигать своих самых амбициозных целей!
				</div>
				<ul class="list">
					<li>По трафику</li>
					<li>По позициям</li>
					<li>По лидам</li>
					<li>Успешные кейсы</li>
					<li>Семантические ядра</li>
					<li>Наши гарантии</li>
					<li>Выводим сайты из под фильтров</li>
					<li>Делаем аудиты сайтов</li>
				</ul>
			</div>
			<div class="block-3-2 block-table">
				<div class="title">Разработка сайтов</div>
				<div class="text">
					Наша сильная сторона — находить дизайнерские решения, которые делают сайт удобным и 
					навсегда влюбляют в себя пользователей. Мы делаем современные адаптивные сайты на актуальных веб-технологиях. 
					Пороха хватит лет на пять после запуска.
				</div>
				<ul class="horizontal-list">
					<li>Интернет-магазины</li>
					<li>Корпоративные сайты</li>
					<li>Landing Page</li>
					<li>Мобильные версии сайтов</li>
					<li>Адаптивные сайты</li>
					<li>CRM системы</li>
				</ul>
				<div class="img-list">
					<div class="title">Работаем с популярными CMS:</div>
					<div class="img"><img src="img/cms/bitrix.png" alt=""></div>
					<div class="img"><img src="img/cms/drupal.png" alt=""></div>
					<div class="img"><img src="img/cms/opencart.png" alt=""></div>
					<div class="img"><img src="img/cms/netcat.png" alt=""></div>
					<div class="img"><img src="img/cms/cs-cart.png" alt=""></div>
					<div class="img"><img src="img/cms/umi.png" alt=""></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div><div class="block-4 block-table">
			<div class="block-4-1">
				<div class="vertical-middle"></div>
			</div><div class="block-4-2">
				<div class="vertical-middle"></div>
			</div>
		</div>
	</div>
	<div class="line-3">
		<div class="block-5 block-table">
			<div class="vertical-middle">
				<div class="title">14 лет мы остаемся фанатами своего дела</div>
				<div class="text">
					Мы мыслим, делимся опытом, работаем с новыми технологиями и черпаем вдохновение 
					для наших любимых проектов в самой жизни.
				</div>
			</div>
		</div><div class="block-6 block-table">
			<div class="vertical-middle"></div>
		</div>
	</div>
	<div class="line-4">
		<div class="portfolio-holder ltr clearfix">
			<div class="portfolio__work portfolio__work--wide orange" style="background-image: url('img/works/pro-medic.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work portfolio__another-works orange">
				<div class="vert-holder">
					<div class="vert-midle">
						<div class="title">Последние работы</div>
						<div class="text">
							Мы с умом разрабатываем уникальные проекты, которые решают ваши бизнес-задачи: 
							адаптивные промо-сайты, корпоративные сайты, интернет-магазины и стартапы.
						</div>
						<div class="btn">Портфолио</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/bork.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/brutal-knack.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/promsviaz.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/estetklinik.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="line-5">
		<div class="block-9 block-table">
			<div class="vertical-middle">
				<a href="#" class="blog-btn">Последнее в блоге</a>

					<div class="blog-item first-item">
						<div class="blog-item__date">15 июля 2016</div>
						<a href="#" class="blog-item__title">Яндекс обяжут удалять все ссылки на Rutracker</a>
					</div>
					<div class="blog-item">
						<div class="blog-item__date">15 июля 2016</div>
						<a href="#" class="blog-item__title">Яндекс обяжут удалять все ссылки на Rutracker</a>
					</div>
					<div class="blog-item">
						<div class="blog-item__date">15 июля 2016</div>
						<a href="#" class="blog-item__title">Яндекс обяжут удалять все ссылки на Rutracker</a>
					</div>
					<div class="blog-item">
						<div class="blog-item__date">15 июля 2016</div>
						<a href="#" class="blog-item__title">Яндекс обяжут удалять все ссылки на Rutracker</a>
					</div>
			</div>
		</div>
	</div>
	<div class="line-6">
		<div class="block-11 block-table">
			<div class="double">
				<div class="block-table">
					<div class="vertical-middle">
						<div class="title">Мы завоевали доверие </div>
						<div class="text">
							Мы с умом разрабатываем уникальные проекты, которые решают ваши бизнес-задачи: 
							адаптивные промо-сайты, корпоративные сайты, интернет-магазины и стартапы.
						</div>
						<div class="btn">Благодарности</div>
					</div>
				</div>
			</div>
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/pro-medic-logo.png" alt="">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/gardena-logo.png" alt="">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/medisana-logo.png" alt="">
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="line-7">
		<div class="block-12 block-table">
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/vipecology-logo.png" alt="">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/gazontrava-logo.png" alt="">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/nail-logo.png" alt="">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/oaontp-logo.png" alt="">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="block-table">
					<span class="vertical-middle">
						<img src="img/beurer-logo.png" alt="">
					</span>
				</span>
			</a>
		</div>
	</div>
	<div class="line-8">
		<div id="map"></div>
		<div class="block-13 block-table">
			<div class="address-line">
				<div class="address-city">
					Мы находимся в Электростали
				</div>
				<div class="address">
					Россия, Электросталь, ул. Лесная, дом 36
				</div>
				<div class="contacts">
					<a href="#" class="phone">8 (499) 110-09-82</a>
					<a href="#" class="mail">info@si-nitsa.ru</a>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="orders">
				<div class="order">
					<div class="title">Заказать услугу</div>
					<div class="text">Наши проекты — успешны. Мы создаём возможности для невозможных идей.</div>
					<div class="btn">Заказать</div>
				</div>
				<div class="contact">
					<div class="title">Рады новым знакомствам!</div>
					<div class="text">Пишите нам и присылайте своё портфолио. Мы всегда рады новым знакомствам!</div>
					<a href="#" class="btn">info@si-nitsa.ru</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	@@include('./footer.html')
@@include('./layout_bottom.html')