@@include('./layout_top.html')
	@@include('./header.html')

	<section class="portfolio">
		<div class="portfolio-intro" style="background-image: url('img/bork/bork-header.png')">
			<div class="title">Редизайн официального сайта Bork.ru</div>
		</div>

		<div class="text-columns">
			<div class="title">Идея</div>
			<div class="content-width clearfix">
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork.
					Дада, именно она. На текущий момент я плачу, когда захожу на сайт такой фирмы.
					От сюда и результат - взять и сделать по своему, что в принципе и сделал)
					Главная идея - это подчеркнуть имидж и передать всю философию бренда.
					Не забыл и про удобство и юзабилити, ведь самое главное в e-commerce это что, 
					детишки? Правильно - это продажи, как бы вы не кричали и не били себя в грудь ;)
					Ну не суть. Работа получилась изящной, современной, удачной - одним словом "лакшери".
				</p>
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork. Дада, именно она. 
					На текущий момент я плачу, когда захожу на сайт такой фирмы. От сюда и результат - 
					взять и сделать по своему, что в принципе и сделал) Главная идея - это подчеркнуть 
					имидж и передать всю философию бренда. Не забыл и про удобство и юзабилити, ведь 
					самое главное в e-commerce это что, детишки? Правильно - это продажи, как бы вы 
					не кричали и не били себя в грудь ;) Ну не суть. Работа получилась изящной, 
					современной, удачной - одним словом "лакшери".
				</p>
			</div>
		</div>

		<div class="full-width-img">
			<img src="img/bork/bork-1.png" alt="">
		</div>

		<div class="text-columns">
			<div class="content-width clearfix">
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork.
					Дада, именно она. На текущий момент я плачу, когда захожу на сайт такой фирмы.
					От сюда и результат - взять и сделать по своему, что в принципе и сделал)
					Главная идея - это подчеркнуть имидж и передать всю философию бренда.
					Не забыл и про удобство и юзабилити, ведь самое главное в e-commerce это что, 
					детишки? Правильно - это продажи, как бы вы не кричали и не били себя в грудь ;)
					Ну не суть. Работа получилась изящной, современной, удачной - одним словом "лакшери".
				</p>
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork. Дада, именно она. 
					На текущий момент я плачу, когда захожу на сайт такой фирмы. От сюда и результат - 
					взять и сделать по своему, что в принципе и сделал) Главная идея - это подчеркнуть 
					имидж и передать всю философию бренда. Не забыл и про удобство и юзабилити, ведь 
					самое главное в e-commerce это что, детишки? Правильно - это продажи, как бы вы 
					не кричали и не били себя в грудь ;) Ну не суть. Работа получилась изящной, 
					современной, удачной - одним словом "лакшери".
				</p>
			</div>
		</div>

		<div class="full-width-img">
			<img src="img/bork/bork-2.png" alt="">
		</div>

		<div class="text-columns">
			<div class="content-width clearfix">
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork.
					Дада, именно она. На текущий момент я плачу, когда захожу на сайт такой фирмы.
					От сюда и результат - взять и сделать по своему, что в принципе и сделал)
					Главная идея - это подчеркнуть имидж и передать всю философию бренда.
					Не забыл и про удобство и юзабилити, ведь самое главное в e-commerce это что, 
					детишки? Правильно - это продажи, как бы вы не кричали и не били себя в грудь ;)
					Ну не суть. Работа получилась изящной, современной, удачной - одним словом "лакшери".
				</p>
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork. Дада, именно она. 
					На текущий момент я плачу, когда захожу на сайт такой фирмы. От сюда и результат - 
					взять и сделать по своему, что в принципе и сделал) Главная идея - это подчеркнуть 
					имидж и передать всю философию бренда. Не забыл и про удобство и юзабилити, ведь 
					самое главное в e-commerce это что, детишки? Правильно - это продажи, как бы вы 
					не кричали и не били себя в грудь ;) Ну не суть. Работа получилась изящной, 
					современной, удачной - одним словом "лакшери".
				</p>
			</div>
		</div>

		<div class="full-width-img">
			<img src="img/bork/bork-3.png" alt="">
		</div>

		<div class="text-columns">
			<div class="title">Вывод</div>
			<div class="content-width clearfix">
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork.
					Дада, именно она. На текущий момент я плачу, когда захожу на сайт такой фирмы.
					От сюда и результат - взять и сделать по своему, что в принципе и сделал)
					Главная идея - это подчеркнуть имидж и передать всю философию бренда.
					Не забыл и про удобство и юзабилити, ведь самое главное в e-commerce это что, 
					детишки? Правильно - это продажи, как бы вы не кричали и не били себя в грудь ;)
					Ну не суть. Работа получилась изящной, современной, удачной - одним словом "лакшери".
				</p>
				<p>
					Редизайн официального сайта всемирно известной фирмы Bork. Дада, именно она. 
					На текущий момент я плачу, когда захожу на сайт такой фирмы. От сюда и результат - 
					взять и сделать по своему, что в принципе и сделал) Главная идея - это подчеркнуть 
					имидж и передать всю философию бренда. Не забыл и про удобство и юзабилити, ведь 
					самое главное в e-commerce это что, детишки? Правильно - это продажи, как бы вы 
					не кричали и не били себя в грудь ;) Ну не суть. Работа получилась изящной, 
					современной, удачной - одним словом "лакшери".
				</p>
			</div>
		</div>

		<div class="same-project red">
			<div class="content-width">
				<div class="title">У вас похожий проект?</div>
				<div class="description">Оставьте заявку на бесплатный SEO аудит сайта!</div>
				<div class="btn">Оставить заявку</div>
			</div>
		</div>

		<div class="same-project purple">
			<div class="content-width">
				<div class="title">Понравились наши работы?</div>
				<div class="description">Оставьте заявку и мы вышлем вам предложение на создание сайта!</div>
				<div class="btn">Оставить заявку</div>
			</div>
		</div>

		<div class="portfolio-holder ltr clearfix">
			<div class="portfolio__work portfolio__work--wide" style="background-image: url('img/works/beurer-lux.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work portfolio__another-works">
				<div class="vert-holder">
					<div class="vert-midle">
						<div class="title">Другие работы</div>
						<div class="text">
							Мы с умом разрабатываем уникальные проекты, которые решают ваши бизнес-задачи: 
							адаптивные промо-сайты, корпоративные сайты, интернет-магазины и стартапы.
						</div>
						<div class="btn">Все наши работы</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/axiom.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/last-of-us.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/beurer.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/yamaguchi-hybrid.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	@@include('./footer.html')
@@include('./layout_bottom.html')