@@include('./layout_top.html')
	@@include('./header.html')

	<section class="portfolio">
		<div class="intro">
			<div class="title">Портфолио</div>
		</div>

		<div class="portfolio-holder ltr clearfix">
			<div class="portfolio__work portfolio__work--wide" style="background-image: url('img/works/pro-medic.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/tarisweb.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/abrikos.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/bork.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/brutal-knack.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/promsviaz.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work" style="background-image: url('img/works/estetklinik.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>

			<div class="portfolio__work fl portfolio__work--wide" style="background-image: url('img/works/beurer-lux.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work fr" style="background-image: url('img/works/yamaguchi.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work fr" style="background-image: url('img/works/us-medic.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work fr" style="background-image: url('img/works/axiom.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work fr" style="background-image: url('img/works/last-of-us.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work fr" style="background-image: url('img/works/beurer.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
			<div class="portfolio__work fr" style="background-image: url('img/works/yamaguchi-hybrid.png')">
				<div class="hover">
					<div class="vert-midle">
						<div class="title">Эстетклиник - увеличение трафика с поисковых систем в 3 раза!</div>
						<div class="btn">Смотреть кейс</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	@@include('./footer.html')
@@include('./layout_bottom.html')